body{
    background-image: url('../../assets/images/constitution.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 3em;
    text-align: center;
    font-family: 'Dancing Script', cursive; 
       
}

.container-fluid{
    background-color: white;    
    height: 40em;
    overflow: auto;
    background-image: url('../../assets/images/constitution-paper.jpg');
    padding: .5em;
    box-shadow: 5px 5px 15px 5px #000000;     
}

#start, #restart{
    background-color: blueviolet;
    margin: auto;
    border: solid black .1em;
    margin-top: 5em;
}

h1{
    font-size: 2.5em;
}

#start:hover, #submitAnswers, #restart{
    cursor: pointer;
}

p, ul{
    font-size: 2em;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input[type=radio]{
    width: 5%;
    height: .6em;
}

#submitAnswers{
    background-color: blueviolet;
    margin: auto;
    border: solid black .1em;
}

#results{
    margin-top: 5em;
}

h3{
    font-size: 3em;
}